In [1]:
import pandas as pd

movies = pd.read_csv('http://bit.ly/imdbratings')

In [2]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [3]:
movies[movies.duration >= 200]

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [4]:
# logical operators and / or

movies[(movies.duration >= 200) & (movies.genre == 'Drama')]

,star_rating,title,content_rating,genre,duration,actors_list
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."

In [6]:
# or example

movies[(movies.duration >= 200) | (movies.genre == 'Drama')] # pipe symbol is or

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
32,8.6,Casablanca,PG,Drama,102,"[u'Humphrey Bogart', u'Ingrid Bergman', u'Paul..."
33,8.6,Whiplash,R,Drama,107,"[u'Miles Teller', u'J.K. Simmons', u'Melissa B..."
41,8.5,Sunset Blvd.,NOT RATED,Drama,110,"[u'William Holden', u'Gloria Swanson', u'Erich..."
47,8.5,Taare Zameen Par,PG,Drama,165,"[u'Darsheel Safary', u'Aamir Khan', u'Tanay Ch..."
50,8.5,Cinema Paradiso,R,Drama,155,"[u'Philippe Noiret', u'Enzo Cannavale', u'Anto..."
51,8.5,Apocalypse Now,R,Drama,153,"[u'Martin Sheen', u'Marlon Brando', u'Robert D..."
53,8.5,The Prestige,PG-13,Drama,130,"[u'Christian Bale', u'Hugh Jackman', u'Scarlet..."
56,8.5,The Lives of Others,R,Drama,137,"[u'Ulrich M\xfche', u'Martina Gedeck', u'Sebas..."
58,8.5,Paths of Glory,APPROVED,Drama,88,"[u'Kirk Douglas', u'Ralph Meeker', u'Adolphe M..."
67,8.4,American Beauty,R,Drama,122,"[u'Kevin Spacey', u'Annette Bening', u'Thora B..."
72,8.4,Rang De Basanti,NOT RATED,Drama,157,"[u'Aamir Khan', u'Soha Ali Khan', u'Siddharth']"
73,8.4,Jodaeiye Nader az Simin,PG-13,Drama,123,"[u'Peyman Moaadi', u'Leila Hatami', u'Sareh Ba..."
74,8.4,Citizen Kane,APPROVED,Drama,119,"[u'Orson Welles', u'Joseph Cotten', u'Dorothy ..."
77,8.4,Oldeuboi,R,Drama,120,"[u'Min-sik Choi', u'Ji-tae Yu', u'Hye-jeong Ka..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
83,8.4,To Kill a Mockingbird,NOT RATED,Drama,129,"[u'Gregory Peck', u'John Megna', u'Frank Overt..."
84,8.4,Requiem for a Dream,R,Drama,102,"[u'Ellen Burstyn', u'Jared Leto', u'Jennifer C..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
87,8.4,Bicycle Thieves,NOT RATED,Drama,93,"[u'Lamberto Maggiorani', u'Enzo Staiola', u'Li..."
89,8.4,Swades,NOT RATED,Drama,189,"[u'Shah Rukh Khan', u'Gayatri Joshi', u'Kishor..."
...,...,...,...,...,...,...
875,7.5,Rust and Bone,R,Drama,120,"[u'Marion Cotillard', u'Matthias Schoenaerts',..."
877,7.5,Legends of the Fall,R,Drama,133,"[u'Brad Pitt', u'Anthony Hopkins', u'Aidan Qui..."
879,7.5,The Constant Gardener,R,Drama,129,"[u'Ralph Fiennes', u'Rachel Weisz', u'Hubert K..."
886,7.5,Pi,R,Drama,84,"[u'Sean Gullette', u'Mark Margolis', u'Ben She..."
887,7.5,The Devil's Backbone,R,Drama,106,"[u'Marisa Paredes', u'Eduardo Noriega', u'Fede..."
889,7.5,Devil's Advocate,R,Drama,144,"[u'Keanu Reeves', u'Al Pacino', u'Charlize The..."
895,7.5,Biutiful,R,Drama,148,"[u'Javier Bardem', u'Maricel \xc1lvarez', u'Ha..."
897,7.5,Calvary,R,Drama,102,"[u'Brendan Gleeson', u""Chris O'Dowd"", u'Kelly ..."
901,7.5,Babel,R,Drama,143,"[u'Brad Pitt', u'Cate Blanchett', u'Gael Garc\..."
904,7.5,Sweeney Todd: The Demon Barber of Fleet Street,R,Drama,116,"[u'Johnny Depp', u'Helena Bonham Carter', u'Al..."
910,7.5,2046,R,Drama,129,"[u'Tony Chiu Wai Leung', u'Ziyi Zhang', u'Faye..."
914,7.5,The Judge,R,Drama,141,"[u'Robert Downey Jr.', u'Robert Duvall', u'Ver..."
916,7.5,Up in the Air,R,Drama,109,"[u'George Clooney', u'Vera Farmiga', u'Anna Ke..."
917,7.5,Begin Again,R,Drama,104,"[u'Keira Knightley', u'Mark Ruffalo', u'Adam L..."
922,7.5,Mud,PG-13,Drama,130,"[u'Matthew McConaughey', u'Tye Sheridan', u'Ja..."
923,7.5,Across the Universe,PG-13,Drama,133,"[u'Evan Rachel Wood', u'Jim Sturgess', u'Joe A..."
925,7.5,Notes on a Scandal,R,Drama,92,"[u'Cate Blanchett', u'Judi Dench', u'Andrew Si..."
926,7.5,Inside Llewyn Davis,R,Drama,104,"[u'Oscar Isaac', u'Carey Mulligan', u'John Goo..."
939,7.4,Predestination,R,Drama,97,"[u'Ethan Hawke', u'Sarah Snook', u'Noah Taylor']"
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
945,7.4,Take Shelter,R,Drama,120,"[u'Michael Shannon', u'Jessica Chastain', u'Sh..."
946,7.4,Far from Heaven,PG-13,Drama,107,"[u'Julianne Moore', u'Dennis Quaid', u'Dennis ..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."

In [8]:
movies[(movies.genre == 'Crime') | (movies.genre == 'Drama') | (movies.genre == 'Action')]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
32,8.6,Casablanca,PG,Drama,102,"[u'Humphrey Bogart', u'Ingrid Bergman', u'Paul..."
33,8.6,Whiplash,R,Drama,107,"[u'Miles Teller', u'J.K. Simmons', u'Melissa B..."
34,8.6,American History X,R,Crime,119,"[u'Edward Norton', u'Edward Furlong', u""Beverl..."
36,8.6,Saving Private Ryan,R,Action,169,"[u'Tom Hanks', u'Matt Damon', u'Tom Sizemore']"
37,8.6,Raiders of the Lost Ark,PG,Action,115,"[u'Harrison Ford', u'Karen Allen', u'Paul Free..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."
41,8.5,Sunset Blvd.,NOT RATED,Drama,110,"[u'William Holden', u'Gloria Swanson', u'Erich..."
43,8.5,The Dark Knight Rises,PG-13,Action,165,"[u'Christian Bale', u'Tom Hardy', u'Anne Hatha..."
44,8.5,Gladiator,R,Action,155,"[u'Russell Crowe', u'Joaquin Phoenix', u'Conni..."
45,8.5,Terminator 2: Judgment Day,R,Action,137,"[u'Arnold Schwarzenegger', u'Linda Hamilton', ..."
...,...,...,...,...,...,...
916,7.5,Up in the Air,R,Drama,109,"[u'George Clooney', u'Vera Farmiga', u'Anna Ke..."
917,7.5,Begin Again,R,Drama,104,"[u'Keira Knightley', u'Mark Ruffalo', u'Adam L..."
918,7.5,Running Scared,R,Action,122,"[u'Paul Walker', u'Cameron Bright', u'Chazz Pa..."
920,7.5,Witness,R,Crime,112,"[u'Harrison Ford', u'Kelly McGillis', u'Lukas ..."
922,7.5,Mud,PG-13,Drama,130,"[u'Matthew McConaughey', u'Tye Sheridan', u'Ja..."
923,7.5,Across the Universe,PG-13,Drama,133,"[u'Evan Rachel Wood', u'Jim Sturgess', u'Joe A..."
924,7.5,Les Miserables,PG-13,Crime,134,"[u'Liam Neeson', u'Geoffrey Rush', u'Uma Thurm..."
925,7.5,Notes on a Scandal,R,Drama,92,"[u'Cate Blanchett', u'Judi Dench', u'Andrew Si..."
926,7.5,Inside Llewyn Davis,R,Drama,104,"[u'Oscar Isaac', u'Carey Mulligan', u'John Goo..."
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
939,7.4,Predestination,R,Drama,97,"[u'Ethan Hawke', u'Sarah Snook', u'Noah Taylor']"
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
945,7.4,Take Shelter,R,Drama,120,"[u'Michael Shannon', u'Jessica Chastain', u'Sh..."
946,7.4,Far from Heaven,PG-13,Drama,107,"[u'Julianne Moore', u'Dennis Quaid', u'Dennis ..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [10]:
# previous example works but is very wordy

movies[movies.genre.isin(['Crime', 'Drama', 'Action'])]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
32,8.6,Casablanca,PG,Drama,102,"[u'Humphrey Bogart', u'Ingrid Bergman', u'Paul..."
33,8.6,Whiplash,R,Drama,107,"[u'Miles Teller', u'J.K. Simmons', u'Melissa B..."
34,8.6,American History X,R,Crime,119,"[u'Edward Norton', u'Edward Furlong', u""Beverl..."
36,8.6,Saving Private Ryan,R,Action,169,"[u'Tom Hanks', u'Matt Damon', u'Tom Sizemore']"
37,8.6,Raiders of the Lost Ark,PG,Action,115,"[u'Harrison Ford', u'Karen Allen', u'Paul Free..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."
41,8.5,Sunset Blvd.,NOT RATED,Drama,110,"[u'William Holden', u'Gloria Swanson', u'Erich..."
43,8.5,The Dark Knight Rises,PG-13,Action,165,"[u'Christian Bale', u'Tom Hardy', u'Anne Hatha..."
44,8.5,Gladiator,R,Action,155,"[u'Russell Crowe', u'Joaquin Phoenix', u'Conni..."
45,8.5,Terminator 2: Judgment Day,R,Action,137,"[u'Arnold Schwarzenegger', u'Linda Hamilton', ..."
...,...,...,...,...,...,...
916,7.5,Up in the Air,R,Drama,109,"[u'George Clooney', u'Vera Farmiga', u'Anna Ke..."
917,7.5,Begin Again,R,Drama,104,"[u'Keira Knightley', u'Mark Ruffalo', u'Adam L..."
918,7.5,Running Scared,R,Action,122,"[u'Paul Walker', u'Cameron Bright', u'Chazz Pa..."
920,7.5,Witness,R,Crime,112,"[u'Harrison Ford', u'Kelly McGillis', u'Lukas ..."
922,7.5,Mud,PG-13,Drama,130,"[u'Matthew McConaughey', u'Tye Sheridan', u'Ja..."
923,7.5,Across the Universe,PG-13,Drama,133,"[u'Evan Rachel Wood', u'Jim Sturgess', u'Joe A..."
924,7.5,Les Miserables,PG-13,Crime,134,"[u'Liam Neeson', u'Geoffrey Rush', u'Uma Thurm..."
925,7.5,Notes on a Scandal,R,Drama,92,"[u'Cate Blanchett', u'Judi Dench', u'Andrew Si..."
926,7.5,Inside Llewyn Davis,R,Drama,104,"[u'Oscar Isaac', u'Carey Mulligan', u'John Goo..."
927,7.5,Brick,R,Crime,110,"[u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emi..."
931,7.4,Mean Streets,R,Crime,112,"[u'Robert De Niro', u'Harvey Keitel', u'David ..."
939,7.4,Predestination,R,Drama,97,"[u'Ethan Hawke', u'Sarah Snook', u'Noah Taylor']"
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
945,7.4,Take Shelter,R,Drama,120,"[u'Michael Shannon', u'Jessica Chastain', u'Sh..."
946,7.4,Far from Heaven,PG-13,Drama,107,"[u'Julianne Moore', u'Dennis Quaid', u'Dennis ..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [11]:
# vid 10

ufo = pd.read_csv('http://bit.ly/uforeports')

In [12]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [13]:
ufo = pd.read_csv('http://bit.ly/uforeports', usecols=['City', 'State'])

ufo.columns

Index(['City', 'State'], dtype='object')

In [2]:
import pandas as pd

u2 = pd.read_csv('http://bit.ly/uforeports', usecols=[0,4])

u2.columns

Index(['City', 'Time'], dtype='object')

In [3]:
u2.head()

                   City             Time
0                Ithaca   6/1/1930 22:00
1           Willingboro  6/30/1930 20:00
2               Holyoke  2/15/1931 14:00
3               Abilene   6/1/1931 13:00
4  New York Worlds Fair  4/18/1933 19:00

In [4]:
u3 = pd.read_csv('http://bit.ly/uforeports', nrows=3)

u3

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00

In [5]:
for c in u3.City:
    print(c)

Ithaca
Willingboro
Holyoke

In [6]:
for index, row in u3.iterrows():
    print(index, row.City, row.State)

0 Ithaca NY
1 Willingboro NJ
2 Holyoke CO

In [7]:
# drop every non-numeric data column from a dataframe

drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [8]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [9]:
# numpy 

import numpy as np

drinks.select_dtypes(include=[np.number]).dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [12]:
drinks.describe(include='all') # to include all columns

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
count,193,193.000000,193.000000,193.000000,193.000000,193
unique,193,NaN,NaN,NaN,NaN,6
top,Paraguay,NaN,NaN,NaN,NaN,Africa
freq,1,NaN,NaN,NaN,NaN,53
mean,NaN,106.160622,80.994819,49.450777,4.717098,NaN
std,NaN,101.143103,88.284312,79.697598,3.773298,NaN
min,NaN,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,20.000000,4.000000,1.000000,1.300000,NaN
50%,NaN,76.000000,56.000000,8.000000,4.200000,NaN
75%,NaN,188.000000,128.000000,59.000000,7.200000,NaN
max,NaN,376.000000,438.000000,370.000000,14.400000,NaN

In [13]:
drinks.describe(include=['object', 'float64']) # passing a list of dtypes

# list gives you the option of specifying types

         country  total_litres_of_pure_alcohol continent
count        193                    193.000000       193
unique       193                           NaN         6
top     Paraguay                           NaN    Africa
freq           1                           NaN        53
mean         NaN                      4.717098       NaN
std          NaN                      3.773298       NaN
min          NaN                      0.000000       NaN
25%          NaN                      1.300000       NaN
50%          NaN                      4.200000       NaN
75%          NaN                      7.200000       NaN
max          NaN                     14.400000       NaN

In [14]:
drinks.describe(include=['object'])

         country continent
count        193       193
unique       193         6
top     Paraguay    Africa
freq           1        53

In [15]:
# Vid 11 axis parameters in pandas

drinks = pd.read_csv('http://bit.ly/drinksbycountry')

drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [16]:
drinks.tail()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [17]:
drinks.drop('continent', axis=1).head() # dropping continent

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [18]:
# drop row 2

drinks.drop(2, axis=0).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America

In [19]:
# mean

drinks.mean()

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [20]:
# max
drinks.max()

country                              Zimbabwe
beer_servings                             376
spirit_servings                           438
wine_servings                             370
total_litres_of_pure_alcohol             14.4
continent                       South America
dtype: object

In [21]:
# assuming zero axis

drinks.mean(axis=0)

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [22]:
# column axis

drinks.mean(axis=1)

0        0.000
1       69.975
2        9.925
3      176.850
4       81.225
5       69.975
6      111.825
7       53.700
8      138.850
9      138.675
10      18.325
11      88.825
12      28.500
13       0.000
14      89.575
15     142.850
16     150.375
17      97.950
18      13.025
19       5.850
20      54.950
21      65.400
22      62.100
23     103.300
24       8.650
25     146.825
26      10.825
27      23.575
28      12.250
29      55.000
        ...
163     79.650
164     24.675
165    101.300
166    143.800
167     14.250
168      4.325
169     91.100
170     55.725
171      1.525
172     14.575
173     15.775
174     91.600
175     18.825
176     20.350
177     31.050
178     14.250
179     15.575
180    124.225
181     39.700
182    137.600
183     12.175
184    124.925
185     94.150
186     34.100
187     12.725
188    110.925
189     29.000
190      1.525
191     14.375
192     22.675
Length: 193, dtype: float64

In [24]:
# Shape

drinks.mean(axis=0).shape

(4,)

In [25]:
# axis = 'index' for 0....

drinks.mean(axis="index")

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [26]:
# axis='columns' 

drinks.mean(axis="columns")

0        0.000
1       69.975
2        9.925
3      176.850
4       81.225
5       69.975
6      111.825
7       53.700
8      138.850
9      138.675
10      18.325
11      88.825
12      28.500
13       0.000
14      89.575
15     142.850
16     150.375
17      97.950
18      13.025
19       5.850
20      54.950
21      65.400
22      62.100
23     103.300
24       8.650
25     146.825
26      10.825
27      23.575
28      12.250
29      55.000
        ...
163     79.650
164     24.675
165    101.300
166    143.800
167     14.250
168      4.325
169     91.100
170     55.725
171      1.525
172     14.575
173     15.775
174     91.600
175     18.825
176     20.350
177     31.050
178     14.250
179     15.575
180    124.225
181     39.700
182    137.600
183     12.175
184    124.925
185     94.150
186     34.100
187     12.725
188    110.925
189     29.000
190      1.525
191     14.375
192     22.675
Length: 193, dtype: float64

In [27]:
# Vid 12 String methods in Pandas

import pandas as pd

orders = pd.read_table('http://bit.ly/chiporders')

orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [28]:
# convert column heading to uppercase

orders.item_name.str.upper()

0                CHIPS AND FRESH TOMATO SALSA
1                                        IZZE
2                            NANTUCKET NECTAR
3       CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                                CHICKEN BOWL
5                                CHICKEN BOWL
6                               SIDE OF CHIPS
7                               STEAK BURRITO
8                            STEAK SOFT TACOS
9                               STEAK BURRITO
10                        CHIPS AND GUACAMOLE
11                       CHICKEN CRISPY TACOS
12                         CHICKEN SOFT TACOS
13                               CHICKEN BOWL
14                        CHIPS AND GUACAMOLE
15      CHIPS AND TOMATILLO-GREEN CHILI SALSA
16                            CHICKEN BURRITO
17                            CHICKEN BURRITO
18                                CANNED SODA
19                               CHICKEN BOWL
20                        CHIPS AND GUACAMOLE
21                           BARBACOA BURRITO
22                           NANTUCKET NECTAR
23                            CHICKEN BURRITO
24                                       IZZE
25               CHIPS AND FRESH TOMATO SALSA
26                               CHICKEN BOWL
27                           CARNITAS BURRITO
28                                CANNED SODA
29                            CHICKEN BURRITO
                        ...
4592                         BARBACOA BURRITO
4593                            CARNITAS BOWL
4594                            BARBACOA BOWL
4595                             CHICKEN BOWL
4596                      CHIPS AND GUACAMOLE
4597                        CANNED SOFT DRINK
4598                            BOTTLED WATER
4599                             CHICKEN BOWL
4600                      CHIPS AND GUACAMOLE
4601                        CANNED SOFT DRINK
4602                         BARBACOA BURRITO
4603                         BARBACOA BURRITO
4604                             CHICKEN BOWL
4605                      CHIPS AND GUACAMOLE
4606                        CANNED SOFT DRINK
4607                            STEAK BURRITO
4608                           VEGGIE BURRITO
4609                        CANNED SOFT DRINK
4610                            STEAK BURRITO
4611                           VEGGIE BURRITO
4612                            CARNITAS BOWL
4613                                    CHIPS
4614                            BOTTLED WATER
4615                       CHICKEN SOFT TACOS
4616                      CHIPS AND GUACAMOLE
4617                            STEAK BURRITO
4618                            STEAK BURRITO
4619                       CHICKEN SALAD BOWL
4620                       CHICKEN SALAD BOWL
4621                       CHICKEN SALAD BOWL
Name: item_name, Length: 4622, dtype: object

In [29]:
# contains chickin

orders.item_name.str.contains('Chicken')

0       False
1       False
2       False
3       False
4        True
5        True
6       False
7       False
8       False
9       False
10      False
11       True
12       True
13       True
14      False
15      False
16       True
17       True
18      False
19       True
20      False
21      False
22      False
23       True
24      False
25      False
26       True
27      False
28      False
29       True
        ...
4592    False
4593    False
4594    False
4595     True
4596    False
4597    False
4598    False
4599     True
4600    False
4601    False
4602    False
4603    False
4604     True
4605    False
4606    False
4607    False
4608    False
4609    False
4610    False
4611    False
4612    False
4613    False
4614    False
4615     True
4616    False
4617    False
4618    False
4619     True
4620     True
4621     True
Name: item_name, Length: 4622, dtype: bool

In [30]:
# chain string methods together

orders.choice_description.str.replace('[', '')

0                                                     NaN
1                                             Clementine]
2                                                  Apple]
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
5       Fresh Tomato Salsa (Mild), Rice, Cheese, Sour ...
6                                                     NaN
7       Tomatillo Red Chili Salsa, Fajita Vegetables, ...
8       Tomatillo Green Chili Salsa, Pinto Beans, Chee...
9       Fresh Tomato Salsa, Rice, Black Beans, Pinto B...
10                                                    NaN
11      Roasted Chili Corn Salsa, Fajita Vegetables, R...
12      Roasted Chili Corn Salsa, Rice, Black Beans, C...
13      Fresh Tomato Salsa, Fajita Vegetables, Rice, C...
14                                                    NaN
15                                                    NaN
16      Tomatillo-Green Chili Salsa (Medium), Pinto Be...
17      Fresh Tomato Salsa (Mild), Black Beans, Rice, ...
18                                                Sprite]
19      Tomatillo Red Chili Salsa, Fajita Vegetables, ...
20                                                    NaN
21      Fresh Tomato Salsa (Mild), Tomatillo-Green Chi...
22                                    Pomegranate Cherry]
23      Tomatillo-Green Chili Salsa (Medium), Tomatill...
24                                            Grapefruit]
25                                                    NaN
26      Roasted Chili Corn Salsa (Medium), Pinto Beans...
27      Tomatillo-Green Chili Salsa (Medium), Roasted ...
28                                            Dr. Pepper]
29      Tomatillo-Green Chili Salsa (Medium), Pinto Be...
                              ...
4592    Tomatillo Red Chili Salsa, Rice, Fajita Vegeta...
4593    Roasted Chili Corn Salsa, Rice, Sour Cream, Ch...
4594    Roasted Chili Corn Salsa, Pinto Beans, Sour Cr...
4595     Tomatillo Green Chili Salsa, Rice, Black Beans]]
4596                                                  NaN
4597                                              Nestea]
4598                                                  NaN
4599          Roasted Chili Corn Salsa, Cheese, Lettuce]]
4600                                                  NaN
4601                                           Diet Coke]
4602                         Tomatillo Green Chili Salsa]
4603                         Tomatillo Green Chili Salsa]
4604    Fresh Tomato Salsa, Rice, Black Beans, Cheese,...
4605                                                  NaN
4606                                                Coke]
4607    Tomatillo Green Chili Salsa, Rice, Cheese, Sou...
4608    Tomatillo Red Chili Salsa, Fajita Vegetables, ...
4609                                              Sprite]
4610    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4611    Tomatillo Green Chili Salsa, Rice, Fajita Vege...
4612    Fresh Tomato Salsa, Fajita Vegetables, Rice, B...
4613                                                  NaN
4614                                                  NaN
4615       Fresh Tomato Salsa, Rice, Cheese, Sour Cream]]
4616                                                  NaN
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620     Fresh Tomato Salsa, Fajita Vegetables, Lettuce]]
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

In [31]:
# replacing both brackets

orders.choice_description.str.replace('[', '').str.replace(']', '')

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
5       Fresh Tomato Salsa (Mild), Rice, Cheese, Sour ...
6                                                     NaN
7       Tomatillo Red Chili Salsa, Fajita Vegetables, ...
8       Tomatillo Green Chili Salsa, Pinto Beans, Chee...
9       Fresh Tomato Salsa, Rice, Black Beans, Pinto B...
10                                                    NaN
11      Roasted Chili Corn Salsa, Fajita Vegetables, R...
12      Roasted Chili Corn Salsa, Rice, Black Beans, C...
13      Fresh Tomato Salsa, Fajita Vegetables, Rice, C...
14                                                    NaN
15                                                    NaN
16      Tomatillo-Green Chili Salsa (Medium), Pinto Be...
17      Fresh Tomato Salsa (Mild), Black Beans, Rice, ...
18                                                 Sprite
19      Tomatillo Red Chili Salsa, Fajita Vegetables, ...
20                                                    NaN
21      Fresh Tomato Salsa (Mild), Tomatillo-Green Chi...
22                                     Pomegranate Cherry
23      Tomatillo-Green Chili Salsa (Medium), Tomatill...
24                                             Grapefruit
25                                                    NaN
26      Roasted Chili Corn Salsa (Medium), Pinto Beans...
27      Tomatillo-Green Chili Salsa (Medium), Roasted ...
28                                             Dr. Pepper
29      Tomatillo-Green Chili Salsa (Medium), Pinto Be...
                              ...
4592    Tomatillo Red Chili Salsa, Rice, Fajita Vegeta...
4593    Roasted Chili Corn Salsa, Rice, Sour Cream, Ch...
4594    Roasted Chili Corn Salsa, Pinto Beans, Sour Cr...
4595       Tomatillo Green Chili Salsa, Rice, Black Beans
4596                                                  NaN
4597                                               Nestea
4598                                                  NaN
4599            Roasted Chili Corn Salsa, Cheese, Lettuce
4600                                                  NaN
4601                                            Diet Coke
4602                          Tomatillo Green Chili Salsa
4603                          Tomatillo Green Chili Salsa
4604    Fresh Tomato Salsa, Rice, Black Beans, Cheese,...
4605                                                  NaN
4606                                                 Coke
4607    Tomatillo Green Chili Salsa, Rice, Cheese, Sou...
4608    Tomatillo Red Chili Salsa, Fajita Vegetables, ...
4609                                               Sprite
4610    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4611    Tomatillo Green Chili Salsa, Rice, Fajita Vege...
4612    Fresh Tomato Salsa, Fajita Vegetables, Rice, B...
4613                                                  NaN
4614                                                  NaN
4615         Fresh Tomato Salsa, Rice, Cheese, Sour Cream
4616                                                  NaN
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object

In [32]:
# doing it with a regular expression

orders.choice_description.str.replace('[\[\]]', '')

0                                                     NaN
1                                              Clementine
2                                                   Apple
3                                                     NaN
4       Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
5       Fresh Tomato Salsa (Mild), Rice, Cheese, Sour ...
6                                                     NaN
7       Tomatillo Red Chili Salsa, Fajita Vegetables, ...
8       Tomatillo Green Chili Salsa, Pinto Beans, Chee...
9       Fresh Tomato Salsa, Rice, Black Beans, Pinto B...
10                                                    NaN
11      Roasted Chili Corn Salsa, Fajita Vegetables, R...
12      Roasted Chili Corn Salsa, Rice, Black Beans, C...
13      Fresh Tomato Salsa, Fajita Vegetables, Rice, C...
14                                                    NaN
15                                                    NaN
16      Tomatillo-Green Chili Salsa (Medium), Pinto Be...
17      Fresh Tomato Salsa (Mild), Black Beans, Rice, ...
18                                                 Sprite
19      Tomatillo Red Chili Salsa, Fajita Vegetables, ...
20                                                    NaN
21      Fresh Tomato Salsa (Mild), Tomatillo-Green Chi...
22                                     Pomegranate Cherry
23      Tomatillo-Green Chili Salsa (Medium), Tomatill...
24                                             Grapefruit
25                                                    NaN
26      Roasted Chili Corn Salsa (Medium), Pinto Beans...
27      Tomatillo-Green Chili Salsa (Medium), Roasted ...
28                                             Dr. Pepper
29      Tomatillo-Green Chili Salsa (Medium), Pinto Be...
                              ...
4592    Tomatillo Red Chili Salsa, Rice, Fajita Vegeta...
4593    Roasted Chili Corn Salsa, Rice, Sour Cream, Ch...
4594    Roasted Chili Corn Salsa, Pinto Beans, Sour Cr...
4595       Tomatillo Green Chili Salsa, Rice, Black Beans
4596                                                  NaN
4597                                               Nestea
4598                                                  NaN
4599            Roasted Chili Corn Salsa, Cheese, Lettuce
4600                                                  NaN
4601                                            Diet Coke
4602                          Tomatillo Green Chili Salsa
4603                          Tomatillo Green Chili Salsa
4604    Fresh Tomato Salsa, Rice, Black Beans, Cheese,...
4605                                                  NaN
4606                                                 Coke
4607    Tomatillo Green Chili Salsa, Rice, Cheese, Sou...
4608    Tomatillo Red Chili Salsa, Fajita Vegetables, ...
4609                                               Sprite
4610    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4611    Tomatillo Green Chili Salsa, Rice, Fajita Vege...
4612    Fresh Tomato Salsa, Fajita Vegetables, Rice, B...
4613                                                  NaN
4614                                                  NaN
4615         Fresh Tomato Salsa, Rice, Cheese, Sour Cream
4616                                                  NaN
4617    Fresh Tomato Salsa, Rice, Black Beans, Sour Cr...
4618    Fresh Tomato Salsa, Rice, Sour Cream, Cheese, ...
4619    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
4620       Fresh Tomato Salsa, Fajita Vegetables, Lettuce
4621    Fresh Tomato Salsa, Fajita Vegetables, Pinto B...
Name: choice_description, Length: 4622, dtype: object